/*============================================

                 23 -- Choose Us

==============================================*/
.why-choose-us-area {
  .why-choose-us-img {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    text-align: center;
  }

  .why-choose-us-content {
    margin-bottom: 30px;

    span {
      font-size: 16px;
      color: $theme-color-1;
      display: block;
      margin-bottom: 5px;
      font-weight: 700;
    }

    h2 {
      font-size: 46px;
      margin-bottom: 20px;
      position: relative;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      margin-top: 30px;

      li {
        position: relative;
        padding-left: 40px;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        i {
          position: absolute;
          top: 1px;
          left: 0;
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          background-image: $bg-gradient;
          color: #fff;
          border-radius: 50%;
          font-size: 18px;
        }

        h3 {
          font-size: 24px;
        }

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
