/*============================================

                26 -- download

==============================================*/
.download-area {
  background-color: #ffeded;
  @media only screen and (max-width: 991px) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  h2 {
    margin-bottom: 30px;
    font-weight: 700;
  }

  ul li {
    padding: 10px 0;
    font-size: 17px;

    i {
      font-weight: bold;
      font-size: 18px;
      color: $theme-color-1;
      margin-right: 15px;
    }
  }

  .btn {
    display: inline-block;
    border-radius: 50px;
    margin-right: 15px;
  }
  .download-1-img {
    overflow: hidden;
  }
}
