
/*============================================

                05 -- hero

==============================================*/
.pos-rel {
  position: relative;
}

.oh {
  overflow: hidden;
}


/*-- Hero 01 --*/

.hero-1 {
  padding: 170px 0px 98px;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat !important;

  @media #{$lg-layout} {
    height: auto;
    padding: 150px 0px 80px;
  }

  @media #{$md-layout} {
    height: auto;
    padding: 150px 0px 80px;
  }

  @media #{$xs-layout} {
    height: auto;
    padding: 140px 0px 70px;
  }

  @media #{$sm-layout} {
    height: auto;
    padding: 140px 0px 70px;
  }

  @media #{$layout-575} {
    height: auto;

  }

  .hero-1-content {
    @media #{$md-layout} {
      margin-bottom: 120px;

    }

    .hero-1-button-group {
      margin: -15px;

      a {
        margin: 15px;
      }
    }

    .cate {
      margin-bottom: 25px;
      color: $theme-color-1;

      @media #{$xs-layout} {

        margin-bottom: 10px;

      }
    }

    .title {
      font-size: 56px;
      line-height: 66px;
      margin-bottom: 15px;
      color: $gray-700;
      font-weight: 600;
      font-family: $font-2;

      @media #{$xs-layout} {
        font-size: 50px;
        line-height: 56px;
        margin-bottom: 10px;
      }

      @media #{$layout-575} {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 10px;
      }
    }

    p {
      font-size: 24px;
      line-height: 40px;
      margin: 0;
      margin-bottom: 33px;
      font-weight: 300;
      color: $gray-600;

      @media #{$xs-layout} {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 35px;
      }

      @media #{$layout-575} {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 25px;
      }
    }
  }
}


/*-- Hero 02 --*/
.hero-2 {
  position: relative;
  z-index: 1;
  overflow: hidden;


  .hero-2-item {
    background-color: #fafafa;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../images/hero/hero-2.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 100px;


    .hero-2-content {

      h1,
      p {
        color: $gray-700;
      }

    }

    .hero-2-content {
      h1 {
        font-size: 65px;
        margin-bottom: 20px;
        font-weight: bold;
      }

      p {
        margin-bottom: 0;
      }

      .hero-btn {
        margin-top: 30px;
      }
    }

  }


  .hero-2-form {
    background-color: #ffffff;
    box-shadow: $shadow;
    padding: 50px 40px;
    position: relative;
    border-radius: 10px;
    max-width: 590px;
    margin-left: auto;

    .content {
      margin-bottom: 30px;
      text-align: center;

      h3 {
        font-size: 32px;
        padding-bottom: 20px;
        border-bottom: 1px solid #eeeeee;
      }
    }

    .form-group {
      label {
        display: block;
        margin-bottom: 10px;
        color: $gray-600;
        font-weight: 400;
        font-size: 16px;
      }

      .form-control {
        height: 50px;
        padding: 0 0 0 15px;
        line-height: initial;
        color: #09101f;
        border: 1px solid $gray-400;
        border-radius: 5px;
        box-shadow: unset !important;
        transition: 0.5s;
        font-size: 16px;
        font-weight: 400;

        &:focus {
          box-shadow: none;
          background-color: transparent;
        }
      }

      label {
        font-size: 16px;
        color: $gray-500;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }

    .nice-select {
      height: 50px;
      width: 100%;
      line-height: 40px;
      font-size: 16px;
      padding-left: 20px;
      border: 1px solid $gray-400;
      color: $gray-600;
      border-radius: 5px;
      padding-top: 5px;
      font-weight: 400;
      margin-bottom: 20px;

      &:focus {
        background-color: transparent;
      }

      .list {
        background-color: #ffffff;

        box-shadow: 0px 0px 29px 0px rgba(102, 102, 102, 0.1);
        border-radius: 0;
        margin-top: 0;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;

        .option {
          transition: .6s;
          color: #09101f;
          padding-left: 20px;
          padding-right: 20px;

          &:hover {
            background-color: $theme-color-1 !important;
            color: #ffffff;
          }

          &.selected {
            background-color: transparent;
            font-weight: 600;
          }
        }
      }

      &::after {
        height: 8px;
        width: 8px;
        border-color: #b5b6bc;
        right: 20px;
      }
    }

    .lost-your-id,
    .lost-your-password {
      font-size: 16px;
      color: $gray-500;
      font-weight: 600;
      float: right;

      &:hover {
        color: $theme-color-1;
      }
    }

    .hero-form-btn {
      margin-top: 10px;
    }
  }
}






/*-- Hero 03 --*/

.hero-3-bg {
  padding: 160px 0 120px;
  background-color: $gray-100;

  .hero-3-title {
    font-size: 44px;
  }

  .hero-btn {
    box-shadow: 0px 17px 43px 1px rgba(255, 255, 255, 0.1);
    background-color: $gray-200;
    padding: 0px 55px;
    border-radius: 35px;
    font-size: 16px;
    color: $gray-700;
    font-weight: 600;
    transition-duration: 400ms;
    height: 60px;
    line-height: 60px;

    i {
      font-size: 24px;
      position: relative;
      top: 3px;
      line-height: 39px;
    }

    &:hover {
      background-color: $gray-700;
      box-shadow: $gray-700-shadow;
      color: $white;
    }
  }

  .watch-video {
    span {
      top: -5px;
      padding-left: 5px;
      position: relative;
    }

    .play-icon-circle {
      border: 2px solid $gray-600;
      height: 46px;
      font-size: 24px;
      width: 46px;
      color: $gray-600;
      line-height: 43px;
      text-align: center;
      border-radius: 50%;
      display: inline-block;
      transition: all 0.5s;

      &:hover {
        background-color: $gray-700;
        border-color: $gray-700;
        box-shadow: 0 0px 0px 6px rgba($gray-700, 0.12);
        color: $white !important;
      }
    }
  }
}




.floating {
  animation-name: floating;
  animation-duration: 5.5s;
  animation-iteration-count: infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(5%);
  }

  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }

  50% {
    -webkit-transform: translateY(5%);
  }

  100% {
    -webkit-transform: translateY(0%);
  }
}