/*============================================

                 01 -- Variables

==============================================*/


/*-- Google font --*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/*-- Icon --*/

@import url('https://unicons.iconscout.com/release/v3.0.3/css/line.css');

// Base font
$font-size-base: 16px;



$font-1:'Nunito', sans-serif;
$font-2:'Rubik', sans-serif;

// Theme Color
$theme-color-1:#ff4151;

// Gray
$gray-100: #f8f8fc;
$gray-200: #edeef5;
$gray-300: #dcdeed;
$gray-400: #bdc1d7;
$gray-500: #7f839c;
$gray-600: #565972;
$gray-700: #272a3a;



// Body Background
$body-color: $gray-500;
$shadow: 0px 10px 80px 0px rgba(215, 215, 215, 0.4);
$theme-shadow-1:0px 17px 43px 1px rgba(221, 26, 68, 0.356);
$gray-700-shadow:0px 17px 43px 1px rgba(36, 30, 52, 0.4);
$shadow-lg: 0 10px 25px rgba($gray-700, 0.15);

// Gradient color
$bg-gradient: linear-gradient(to right, #ff416c, #ff4b2b);


// Other Colors
$primary:       #004395;
$secondary:     #f9c322;
$success:       #28a745;
$info:          #17a2b8;
$warning:       #ffc107;
$danger:        #dc3545;
$light:         #f8f9fa;
$white:         #ffffff;
$black:         #000000;


// Responsive Variables
$xx-layout: "only screen and (min-width: 1366px) and (max-width: 1600px)";
$xl-layout: "only screen and (min-width: 1200px) and (max-width: 1499px)";
$lg-layout: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md-layout: "only screen and (min-width: 768px) and (max-width: 991px)";
$xs-layout: "only screen and (max-width: 767px)";
$sm-layout: "only screen and (min-width: 576px) and (max-width: 767px)";
$layout-575: "only screen and (max-width: 575px)";
$layout-479: "only screen and (max-width: 479px)";

