/*
This file is use to implement the responsive design.
*/

/*=========================================
                 INDEX             
===========================================
//             01 -- Dashboard
//             02 -- Stake
//             03 -- Reward
//             04 -- Swap
//             05 -- Treasury
//             06 -- Homepage

==============================================*/

/*============================================

                 01 -- Dashboard

==============================================*/

@media only screen and (max-width: 1280px) {
  div.dashboard-cus-main .dashboard-revenue-projection-content-column {
    padding: 25px 40px;
  }
  div.dashboard-platform-header {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 962px) {
  div.dashboard-container.dashboard-cus-main {
    padding: 100px 30px;
  }
  div.dashboard-cus-main .dashboard-revenue-projection-content-row {
    flex-wrap: wrap;
  }
  div.dashboard-cus-main .dashboard-revenue-projection-vault {
    width: 40%;
    margin-right: 0;
  }
  div.dashboard-cus-main .dashboard-revenue-projection-content-column {
    margin: 0 25px 20px 25px;
  }
  div.dashboard-cus-main .dashboard-daily-earning {
    padding: 40px 0;
  }
  div.dashboard-cus-main .dashboard-portfolio-capl-row div,
  div.dashboard-cus-main .dashboard-platform-assets-panel div,
  div.dashboard-cus-main .dashboard-platform-assets div {
    font-size: 16px;
    flex-wrap: wrap;
  }
  div.dashboard-cus-main .dashboard-portfolio-capl-panel-row {
    flex-wrap: wrap;
  }
  div.dashboard-platform-header {
    flex-wrap: wrap;
    align-items: center;
  }
  div.dashboard-cus-main .buy-btn {
    margin: 20px;
  }
  div.dashboard-cus-main .dashboard-platform-token {
    flex-direction: column;
  }
  div.dashboard-platform-token-column {
    width: auto;
  }
  div.dashboard-cus-main .dashboard-portfolio-capl-row {
    flex-wrap: wrap;
  }
  div.dashboard-cus-main .reward-btn {
    min-width: 200px;
  }
}

@media only screen and (max-width: 601px) {
  div.dashboard-container.dashboard-cus-main {
    padding: 0;
  }
  .dashboard-container.dashboard-cus-main .dashboard-daily-earning {
    flex-direction: column;
    margin: 0 30px;
    padding: 0;
    width: auto;
  }
  div.dashboard-daily-earning .dashboard-daily-earning-panel {
    width: auto;
    margin: 90px 0 35px 0;
  }
  div.dashboard-cus-main .dashboard-revenue-projection {
    flex-direction: column;
    margin: 50px 30px;
  }
  div.dashboard-cus-main .dashboard-revenue-projection-vault {
    width: auto;
    margin: 0 0 50px 0;
  }
  div.dashboard-cus-main .dashboard-revenue-projection-content-row {
    flex-direction: column;
    margin: 0;
  }
  div.dashboard-cus-main .dashboard-revenue-projection-content-column {
    margin: 0 0 30px 0;
  }
  div.dashboard-cus-main .dashboard-portfolio {
    flex-direction: column;
    padding: 0 30px;
  }

  div.dashboard-cus-main .dashboard-portfolio-capl-panel-row {
    flex-wrap: wrap;
  }
  div.dashboard-cus-main .dashboard-portfolio-section {
    width: auto;
    margin: 0 0 50px 0;
  }
  div.dashboard-cus-main .dashboard-portfolio-section-address {
    flex-direction: column;
    text-align: center;
  }
  div.dashboard-cus-main .dashboard-portfolio-section-title {
    text-align: center;
  }
  div.dashboard-cus-main .dashboard-platform {
    flex-direction: column;
    margin: 0 30px;
  }
  div.dashboard-cus-main .dashboard-platform-section {
    width: auto;
    margin-bottom: 50px;
  }
  div.dashboard-platform-header {
    flex-direction: column;
    text-align: center;
  }
  div.dashboard-cus-main .buy-btn {
    margin: 30px 0;
  }
  div.dashboard-cus-main .dashboard-platform-token {
    flex-direction: column;
  }
  div.dashboard-platform-token-column {
    width: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  div.dashboard-cus-main .dashboard-portfolio-capl-row div,
  div.dashboard-cus-main .dashboard-platform-assets-panel div,
  div.dashboard-cus-main .dashboard-platform-assets div {
    font-size: 16px;
  }
  .dashboard-cus-main .reward-btn {
    min-width: 100px;
  }
}

/*============================================

                02 -- Stake Page

==============================================*/

@media only screen and (max-width: 962px) {
  .panel.stake-panel {
    margin: 50px 0;
    width: 400px;
  }
  div.stake-panel-content {
    height: auto;
  }
  div.panel-content.stake-panel-content {
    padding: 70px 30px;
  }
  input.input-custom {
    max-width: 90%;
  }
  div.stack-bottom-area {
    width: auto;
    margin: 0 20px 50px 20px;
  }
  div.panel {
    flex: none;
  }
}

@media only screen and (max-width: 601px) {
  .panel-content.stake-panel-content {
    padding: 50px 0;
    height: auto;
    border-radius: 25px;
  }
  div.stack-bottom-area {
    width: 80%;
    margin: 30px auto 50px auto;
  }
  .stack-button-area {
    flex-direction: column;
  }
  .stack-button-area .stack-btn {
    padding: 0 20px;
    margin: 10px 0;
    border: 1px solid #ffca03;
  }
}

@media only screen and (max-width: 280px) {
  .btn-custom {
    min-width: 150px;
  }
}

/*============================================

                03 -- Reward Page

==============================================*/

@media only screen and (max-width: 992px) {
  .reward-main-sec .rewards-display {
    font-size: 60px;
  }
  div.rewards-content {
    width: auto;
  }
}

@media only screen and (max-width: 601px) {
  .rewards-container .rewards-content {
    width: 80%;
  }
  .rewards-content .rewards-section {
    flex-direction: column;
    margin: 50px auto 0 auto;
  }
  .rewards-section > button {
    margin-bottom: 30px;
  }
  .rewards-content .rewards-display {
    margin: 0;
    padding: 70px 0;
    font-size: 30px;
  }
}

/*============================================

                04 -- Swap

==============================================*/

@media only screen and (max-width: 962px) {
  .panel-content.swap-panel-content {
    padding: 50px;
  }
}

@media only screen and (max-width: 850px) {
  .inner-container.panel-container {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .panel-display.swap-panel-display {
    width: 100%;
  }
}

@media only screen and (max-width: 601px) {
  .panel-container.inner-container {
    flex-direction: column;
    margin: 50px 0;
  }
  .panel-content.swap-panel-content {
    padding: 20px 30px;
  }

  .panel.stake-panel {
    margin: 50px auto;
    width: auto;
  }

  .panel-explanation > input {
    width: 100%;
  }
}

/*============================================

                05 -- Treasury

==============================================*/

@media only screen and (max-width: 962px) {
  .treasury-row.inner-container {
    flex-direction: column;
  }
  div.treasury-column-1,
  div.treasury-column-2 {
    width: auto;
  }
  div.treasury-row {
    flex-direction: column;
  }
}

@media only screen and (max-width: 601px) {
  div.treasury-row,
  div.treasury-row.inner-container,
  div.treasury-column-1,
  div.treasury-column-2,
  div.treasury-value-container,
  div.treasury-projections-row,
  div.treasury-projections-column,
  div.treasury-projections-column.projection-custom {
    width: auto;
    flex-direction: column;
  }
  div.treasury-column-1 {
    margin-top: 50px;
  }
  .treasury-value-container.treasury-outstanding {
    width: auto;
  }
  .treasury-projections-row.treasury-projections-custom {
    margin: 0;
  }
  .treasury-projections-column.projection-custom {
    margin: 20px;
  }
  select.tab-inner-content-item,
  button.tab-inner-content-item {
    margin: 20px !important;
    padding: 0 13px;
  }
  div.tab-inner-content {
    width: auto;
    flex-direction: column;
  }
  .tab-content.treasury-outstanding {
    padding: 30px;
  }
}

@media only screen and (max-width: 601px) {
  .line {
    width: 40%;
  }
}

/*============================================

                06 -- Homepage
==============================================*/

@media only screen and (max-width: 601px) {
  .section-1 {
    background-position: right center;
    max-width: 100%;
    background-repeat: no-repeat;
  }
  .section-1 .hero {
    max-width: 100%;
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .section-2 {
    height: auto;
  }
  .section-2 .sec-2-inner img {
    display: none;
  }
  .section-2 .sec-2-inner {
    display: flex;
    flex-flow: column wrap;
  }
  .section-2 .sec-2-inner .text-left img {
    display: block;
    position: static;
    transform: scale(1);
  }
  .section-2 .sec-2-inner .text-right {
    padding: 0 20px;
    margin: 0;
    gap: 0;
  }
  .section-2 .sec-2-inner .text-right h1 {
    padding: 0;
    font-size: 30px;
  }
  .section-2 .sec-2-inner .text-right p {
    padding: 50px 0;
  }
  .section-3 {
    padding: 50px 0;
  }
  .section-3 .sec-3-inner {
    display: flex;
    flex-flow: column-reverse wrap;
  }
  .sec-3-before {
    display: none;
  }
  .sec-3-text-right {
    padding: 20px 20px 20px 40px;
    margin: 0;
  }
  .sec-3-text-right ul li {
    font-weight: 500;
  }

  .sec-3-inner .sec-3-text-left h1 {
    font-size: 40px;
  }
  .sec-3-inner .sec-3-text-left h1 span {
    font-size: 40px;
  }
  .user-roles-sec-main {
    padding: 0 20px;
  }
  .user-roles-con-main h3 {
    font-size: 25px;
  }
  .user-roles-title h2 {
    font-size: 40px;
    font-weight: 600;
    padding: 0;
  }
  .user-roles-title h2 span {
    font-size: 40px;
    font-weight: 600;
    padding: 0;
  }
  .user-roles-title span {
    font-size: 25px;
  }
  .sec-3-inner .sec-3-text-left {
    padding: 50px 20px;
  }
  .section-4 {
    padding: 50px 20px;
  }
  .section-4 .sec-4-inner .text-label h1 {
    font-size: 40px;
  }
  .section-4 .sec-4-inner .text-label {
    width: 100%;
  }
  .section-4 .sec-4-inner .sec-4 {
    display: flex;
    flex-flow: column wrap;
    width: 75%;
    margin: 0 auto;
  }
  .section-5 .sec-5-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .section-5 .sec-5-bg {
    padding: 30px 20px;
    background-size: cover;
    width: 100%;
    position: static;
  }
  .sec-5-right h1 {
    font-size: 50px;
  }
  .section-6 {
    padding: 50px 20px;
  }
  .section-6 .sec-6-heading {
    padding: 0;
  }
  .section-6 .sec-6-heading::before {
    z-index: -2;
  }
  .section-6 .sect-6-center .sec-6-inner {
    flex-direction: column;
    gap: 50px;
  }
  .section-6 .sect-6-center .sec-6-inner .sec-6-inner-box {
    width: 100%;
  }
  .section-7 {
    padding: 50px 0;
  }
  .sec-7-content {
    display: block;
  }
  .sec-7-content .sec-7-right-ol .sec-7-inner-box-text .sec-7-tex-box {
    margin-left: 40px;
  }
  .sec-7-content .sec-7-left-bl {
    padding: 0;
    margin-top: -50px;
  }
  .roadmap-sec-main {
    padding: 100px 20px;
  }
  .second-user-block-inner h2 {
    font-size: 35px;
  }
  .user-roles-inner {
    padding: 0 20px;
  }
  .staker-con-block-area p {
    max-width: 100%;
  }
  .user-roles-title {
    padding: 30px 0;
  }
  .stable-token-main-sec {
    margin-top: 30px;
  }
  .stable-token-con-area-inner {
    padding: 50px 30px;
    width: 80%;
  }
  .stable-token-con-area-inner h2 {
    font-size: 30px;
  }
  .treasury-inner-con {
    width: 80%;
  }
  .treasury-item-block {
    flex-flow: column wrap;
  }
  .treasury-heading-main h2 {
    font-size: 40px;
    text-align: center;
  }
  .treasury-icon-area {
    max-width: 50%;
  }

  .platform-main-sec:after {
    width: 100%;
    top: 110px;
    max-height: 95%;
  }
  .platform-heading-row {
    flex-flow: column wrap;
  }
  .platform-left-heading {
    max-width: 100%;
  }
  .paltform-right-heading {
    max-width: 80%;
    padding: 0;
  }
  .platform-left-heading h2 {
    font-size: 30px;
  }
  .platform-left-main-sec {
    margin-top: -50px;
  }
  .paltform-right-heading-inner {
    margin-top: 80px;
  }
  .platform-bottom-inner {
    width: 80%;
    margin: 0 auto;
  }
  .platform-right-inner {
    width: 80%;
    margin: 0 auto;
  }
  .section-6 .sec-6-heading::before {
    display: none;
  }
}
